label.error{
  color:red; font-weight: bold;
}

input.error, select.error, textarea.error{
  border: 2px solid red;
}
/*plantilla*/
<style>
        .social-icons {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        .social-icons a {
            font-size: 2em;
            color: #000;
            text-decoration: none;
        }
        .social-icons a:hover {
            color: #0078e7; /* Cambiar el color al pasar el mouse */
        }
    </style>
/*f*/
.carousel-container {
    text-align: center;
}
.carousel-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    }

.carousel-logos a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.carousel-logos img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.carousel-logos a:hover img {
  transform: scale(1.2);
}

.carousel-logos a:hover {
  color: #333; /* Color negro medio oscuro */
}
/* Estilos para el contenedor del carrusel */
.carousel-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}
/* Estilos para el contenedor de los logos */
.carousel-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para cada logo */
.carousel-logo {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
}

/* Estilos para los enlaces de los logos */
.carousel-logos a {
  text-decoration: none;
  color: #333;
}

.carousel-logos a:hover {
  color: #666;
}
/*FUNYAJ*/
<style>
      .content {
            display: flex;
            height: 100vh;
        }
        .text-section, .image-section {
            flex: 1;
        }
        .image-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image-section img {
            max-width: 550px;
            max-height: 100%;
            object-fit: cover;
        }
        .text-section .p-5 {
            text-align: justify;
            color: #000000;
        }

</style>

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boton {
    display: inline-block;
    padding: 10px 40px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.boton:hover {
    background-color: darkblue;
}

.boton:active {
    background-color: navy;
}


/*Musica */
.musica {
  background-image: url(../images/FUNYAJ/musical.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #2a2a2a;
}

.musica h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.musica h2.space-need {
  padding: 0px 30px;
}

.musica h2 em {
  font-style: normal;
  color: #FF0000;
}

.musica p {
  color: #fff;
  padding: 30px 0px;
  margin: 40px 75px 0px 75px;
  border-top: 2px solid rgba(250,250,250,0.2);
}


/*Deportes */
.deporte {
  background-image: url(../images/FUNYAJ/deportes.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #2a2a2a;
}

.deporte h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.deporte h2.space-need {
  padding: 0px 30px;
}

.deporte h2 em {
  font-style: normal;
  color: #FF0000;
}

.deporte p {
  color: #fff;
  padding: 30px 0px;
  margin: 40px 75px 0px 75px;
  border-top: 2px solid rgba(250,250,250,0.2);
}

/* Formulario de pago */

  body {
    background-image: url("{% static 'baner.jpg' %}");
    background-size: ;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff; /* Cambia el color del texto para que sea visible en la imagen de fondo */
  }
  .container_1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5); /* Añade un fondo semi-transparente para que el contenido sea legible */
  }
  input[type="text"], input[type="number"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }


/*login*/


/* efectos por defecto */
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;

    margin: 0;
    background-color: #5f6769;
}

/* efectos para el contenedor de pantalla completa */
#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

    background-image: url(../images/FUNYAJ/login.png);
    background-position: center;
    background-size: cover;
}

/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;

    min-width: 380px;
    max-width: 900px;
    width: 90%;

    background-color: #5f6769;

    /*opacity: 0.50;
    filter: alpha(opacity=50);*/

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

    padding: 30px;
    box-sizing: border-box;
}

/* formulario de login */
/* formulario de login */
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: #719192;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;

    opacity: 1;
    filter: alpha(opacity=1);
}

#login label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color:#3c4245;

    margin-top: 15px;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #dfcdc3;

    margin-top: 10px;
}

#login button:hover {
    background-color: #3c4245;
    color:#dfcdc3;
}
/* formulario de login */
/* formulario de login */

/* seccion de la derecha */
/* seccion de la derecha */
/* por defecto */
#derecho {
    /*display: flex;
    align-items:center;
    justify-content:center;*/

    text-align: center;
    width: 100%;

    opacity: 0.70;
    filter: alpha(opacity=70);

    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-size: 300%;
    color:#dfcdc3;
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #dfcdc3;

}
.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #dfcdc3;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #719192;
}
/* seccion de la derecha */
/* seccion de la derecha */

/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px)
{
    #contenedorcentrado {
        flex-direction:column-reverse;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: #5f6769;

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;

        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

        padding: 30px;
        box-sizing: border-box;
    }

    #login {
        margin: 0 auto;
    }

    #derecho {
        padding:20px 20px 20px 20px;
    }

    #login label {
        text-align: left;
    }
}
/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */

/*
Salud
*/
.salud {
  background-image: url(../images/FUNYAJ/salud.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #2a2a2a;
}

.salud h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.salud h2.space-need {
  padding: 0px 30px;
}

.salud h2 em {
  font-style: normal;
  color: #FF0000;
}

.salud p {
  color: #fff;
  padding: 30px 0px;
  margin: 40px 75px 0px 75px;
  border-top: 2px solid rgba(250,250,250,0.2);
  text-align: center;
}
/*Ayuda */
.ayuda {
  background-image: url(../images/FUNYAJ/musical.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #2a2a2a;
}

.ayuda h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.ayuda h2.space-need {
  padding: 0px 30px;
}

.ayuda h2 em {
  font-style: normal;
  color: #FF0000;
}

.ayuda p {
  color: #fff;
  padding: 30px 0px;
  margin: 40px 75px 0px 75px;
  border-top: 2px solid rgba(250,250,250,0.2);
}
/*texto en movivimento*/
.marquesina {
         font-family: Perpetua, sans-serif;
         font-size: 50px;
         background: /*linear-gradient(to right, yellow, blue, red);*/
         padding: 8px; /* Ajusta el espaciado según sea necesario */
         color: black;
         letter-spacing: 5px;
          word-spacing: 10px;

     }
     .marquesina b {
                margin-right: 700px; /* Ajusta el espacio después de cada elemento <b> según sea necesario */
            }


/*boton*/

.arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    background-color: red; /* Fondo amarillo */
    color: black; /* Texto negro para mejor contraste */
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%; /* Forma circular */
    text-decoration: none; /* Sin subrayado */
}

.arrow i {
    line-height: 50px; /* Centrar el ícono verticalmente */
}
/*becario buttun*/
<style>
        body {
            font-family: Arial, sans-serif;
        }
        .button-container {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            padding: 20px;
        }
        .button {
            border: 2px solid #2e1e78;
            border-radius: 20px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: #2e1e78;
            transition: background-color 0.3s, color 0.3s;
        }
        .button:hover {
            background-color: #2e1e78;
            color: white;
        }
        .profile-container {
           display: none;
           margin-top: 20px;
       }

    </style>

    /*555*/

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .banner {
            width: 100%;
            height: 100px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
        }
        .banner:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:
                repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent 10px,
                    rgba(220, 220, 220, 0.5) 10px,
                    rgba(220, 220, 220, 0.5) 20px
                ),
                radial-gradient(#dcdcdc 1px, transparent 1px),
                radial-gradient(#dcdcdc 1px, transparent 1px);
            background-size: 20px 20px, 10px 10px, 10px 10px;
            background-position: 0 0, 0 0, 5px 5px;
            opacity: 0.5;
        }
        .banner-text {
            position: relative;
            background-color: white;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }
        h1 {
            margin: 0;
            font-size: 24px;
            color: #0033a0;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px;
            width: 100%;

        }
        .profile {
            margin: 20px;
            text-align: center;
        }
        .profile img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.2s;
             border: 5px solid #2e1e78;
        }
        .profile img:hover {
            transform: scale(1.1);
        }
        .profile-name {
            margin-top: 10px;
            font-size: 14px;
            font-weight: bold;
        }
        .profile-container {
            display: none;
        }
        .profile-container h1 {
            text-align: center;
        }
    </style>
/*regresar*/
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.boton-regresar {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* Quitamos la subrayado predeterminado de los enlaces */
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.boton-regresar:hover {
  background-color: white;
  color: black;
}
/*PayPal*/
/*turismo*/

/* slider section  */

.slider{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 5px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: red;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    border: none;
    background-color: #eee;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}





/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}
