{% extends "./index.html" %}

{% block contenido %}

    {% load static %}


    <div class="ayuda">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 offset-lg-2 header-text">
             <h2>"Transformando <em>vidas</em> y construyendo un <em>futuro</em> mejor juntos"<em> </h2>
             <p>¡Bienvenido a FUNYAJ! Aquí, nos dedicamos a transformar vidas y construir un futuro mejor para todos. Únete a nosotros en esta emocionante misión de hacer del mundo un lugar más justo y próspero. ¡Estamos encantados de tenerte con nosotros!</p>
           </div>
         </div>
       </div>
     </div>


{% endblock %}
