{% extends "./index.html" %}

{% block contenido %}

    {% load static %}
    <br><br><br><br>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-6">
<h1>Asociaciones comunitarias</h1>
<br>
<p>El equipo directivo de la Fundación FUNYAJ trabaja en estrecha
    colaboración con los líderes ecuatorianos que forman parte de la
    comunidad de Guangaje o que han tenido una relación duradera con ellos.
     Somos conscientes de que nosotros, desde el lado estadounidense,
     no sabemos qué es lo mejor para esta comunidad y sus individuos.
      Esperamos proporcionar los recursos que la comunidad reconoce como
       necesarios para empoderar a su juventud y, en consecuencia, a su comunidad.
        Estamos verdaderamente agradecidos por las alianzas que tenemos con
        Amawtay Inti Nan, la Universidad de San Francisco en Quito y la
        Universidad Central en Quito.</p>
</div>
<div class="col-md-4">
  <img src="../assets/images/deporte/soccer.jpg" alt=""  height="75%">
</div>
</div>
<center>
   <h1>Galeria Deportiva</h1>
</center> <br>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
  <p>En nuestra galería, capturamos momentos de inspiración, esfuerzo y superación.
    Cada imagen refleja la dedicación y el espíritu indomable de nuestros participantes
    y voluntarios. A través del deporte, hemos visto cómo se construyen lazos, se rompen
    barreras y se alcanzan sueños. Cada fotografía es una historia de triunfo y
    resiliencia, una prueba de que con el apoyo adecuado y la determinación, todo es
    posible. Sumérgete en estas historias visuales y siente la energía y pasión que
    mueve a la Fundación Funyaj. ¡Juntos, estamos haciendo la diferencia!</p>
</div>
</div>
<br>
     <section class="portfolio" style="margin-top:-65px;">
         <div class="container">
           <div class="row">
             <div class="col-lg-3">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d4.jpeg" alt="" height="325px">


               </div>
             </div>
             <div class="col-lg-5">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d1.jpeg" alt="" height="325">

               </div>
             </div>
             <div class="col-lg-4">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d3.jpeg" alt="" height="325">

               </div>
             </div>
             <div class="col-lg-3">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d5.jpeg" alt="" height="325">

               </div>
             </div>
             <div class="col-lg-6">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d7.jpeg" alt="" height="325">

                 </div>
             </div>
             <div class="col-lg-3">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d6.jpeg" alt="" height="325">

               </div>
             </div>
             <div class="col-lg-5">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d8.jpeg" alt="" height="325">

               </div>
             </div>
             <div class="col-lg-3">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d2.jpeg" alt="" height="325">

               </div>
             </div>
             <div class="col-lg-4">
               <div class="thumb">
                 <img src="../assets/images/FUNYAJ/d9.jpeg" alt="" height="325">

               </div>
             </div>
            </div>
         </div>
       </section>


{% endblock %}
