{% extends "./index.html" %}

{% block contenido %}

    {% load static %}


    <div class="page-heading">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 offset-lg-2 header-text">
             <h2>"Transformando <em>vidas</em> y construyendo un <em>futuro</em> mejor juntos"<em> </h2>
             <p>¡Bienvenido a FUNYAJ! Aquí, nos dedicamos a transformar vidas y construir un futuro mejor para todos. Únete a nosotros en esta emocionante misión de hacer del mundo un lugar más justo y próspero. ¡Estamos encantados de tenerte con nosotros!</p>
           </div>
         </div>
       </div>
     </div>


  <div class="contest-details">
    <div class="container">
      <div class="row">

          <div class="top-content">

        <div class="col-lg-12">
          <div class="main-content">
            <h4 style="margin-top:-75px;">Funadación FUNYAJ</h4>
            <p>Gracias al apoyo de <a href="https://www.forthefuturege.com/">"For The Future of Guangaje, Ecuador",</a> nace la Fundación FUNYAJ, una organización
              sin fines de lucro dedicada a obras sociales,
              deportivas, formativas, culturales y humanitarias.
               Las siglas FUNYAJ representan la "Fundación" de ayuda y apoyo,
               cuyo nombre kichwa es “Yanapak” y su protagonista “Jumandy”,
                que significa "hombre sabio, ícono de lucha que muestra el camino
                de la libertad". El logo de FUNYAJ incorpora una “Chakana”, símbolo
                milenario de los pueblos indígenas de los Andes, con colores tricolores
                que identifican una parte del territorio ecuatoriano para el trabajo y
                 la cooperación internacional. Su lema es: Ayudamos a Ayudar.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top:-30px;">
        <div class="row content">
            <div class="col-md-6 text-section d-flex align-items-center">
                <div class="p-5">
                    <h1>Misión</h1>
                    <p>En FUNYAJ promovemos obras sociales, deportivas, culturales y humanitarias. Inspirados por la Chakana y Jumandy, apoyamos a comunidades necesitadas y fomentamos el desarrollo sostenible. Nuestro lema, "Ayudamos a Ayudar", guía nuestras acciones hacia un mundo más justo.</p>
<br>
                    <h1>Visión</h1>
                    <p>En FUNYAJ aspiramos a ser líderes en solidaridad y cooperación internacional, inspirando cambios duraderos en Ecuador y más allá. Con la Chakana como símbolo, buscamos un futuro de equidad y bienestar accesible para todos.</p>
                </div>
            </div>
            <div class="col-md-6 image-section">
                <img src="../assets/images/FUNYAJ/mision.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="container">
         <a href="../assets/pdfs/English.pdf" download class="boton">Historia de FUNYAJ <i class="fas fa-download"></i></a>
     </div>

<br>
{% endblock %}
