{% extends "./administrador.html" %}
{% block contenido %}
{% load static %}
<body>
   <br><br><br><br>
   <center><h1 style="font-family: 'Times New Roman', serif;">Registros de Postulantes</h1></center>
   <br>
   <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-10">
           {% if postulante %}
               <table class="table custom-table" id="miTabla">
                   <thead class="table-dark">
                       <tr>
                           <th>N°.</th>
                           <th>Nombres</th>
                           <th>Apellidos</th>
                           <th>Provincia</th>
                           <th>Canton</th>
                           <th>Comunidad</th>
                           <th>Cedula</th>
                           <th>Teléfono</th>
                           <th>Email</th>
                           <th>Carrerra</th>
                           <th>Cupo</th>
                           <th>Acción</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for listpostulantes in postulante %}
                           <tr>
                             <td>{{forloop.counter}}</td>
                             <td>{{listpostulantes.nombres}}</td>
                             <td>{{listpostulantes.apellidos}}</td>
                             <td>{{listpostulantes.provincia}}</td>
                             <td>{{listpostulantes.canton}}</td>
                             <td>{{listpostulantes.comunidad}}</td>
                             <td>{{listpostulantes.cedula}}</td>
                             <td>{{listpostulantes.telefono}}</td>
                             <td>{{listpostulantes.email}} </td>
                             <td>{{listpostulantes.carrera}}</td>
                             <td>
                            {% if listpostulantes.aceptacion_de_cupo %}
                            <a href="{{ listpostulantes.aceptacion_de_cupo.url }}" target="_blank">{{ listpostulantes.aceptacion_de_cupo.name }}</a>
                            {% else %}
                            <p>N/A</p>
                            {% endif %}
                            <td>
                                <a href="javascript:void(0)" onclick="eliminarPostulantes('/eliminarPostulantes/{{ listpostulantes.id }}');" class="btn btn-danger"> <i class="fa-solid fa-trash"></i></a>

                            </td>
                           </tr>
                       {% endfor %}
                   </tbody>
               </table>
           {% else %}
              <br><br><br><br><p class="text-center display-7">No se ha registrado ningún dato <i class="fa-solid fa-circle-xmark"></i></p>
           {% endif %}
       </div>
   </div>
   <br>


   <script type="text/javascript">
       function eliminarPostulantes(url){
         iziToast.question({
             timeout: 15000,
             close: true,
             overlay: true,
             displayMode: 'once',
             id: 'question',
             zindex: 999,
             title: 'CONFIRMACIÓN',
             message: '¿Está seguro de <br> eliminar el dato <br> seleccionado?',
             position: 'center',
             buttons: [
                 ['<button><b>SI</b></button>', function (instance, toast) {
                     instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                     window.location.href=url;
                 }, true],
                 ['<button>NO</button>', function (instance, toast) {
                     instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                 }],
             ]
         });
       }
   </script>
   <br>

   <script type="text/javascript">
     $(document).ready(function() {
       $('#miTabla').DataTable({
         dom: 'Bfrtip',
         buttons: [
         {
    extend: 'pdfHtml5',
    orientation: 'landscape',
    pageSize: 'A4',
    customize: function (doc) {

      doc.content[1].margin = [20, 20, 20, 20];
      doc.styles.tableHeader.fontSize = 10;
      doc.styles.tableBodyOdd.fontSize = 8;
      doc.styles.tableBodyEven.fontSize = 8;
    }
    },
           'print',
           'csv'

         ],

         scrollX: true,
         language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                  }
       });
     });
   </script>
   <div style="width: 100%; overflow-x: auto;">
     <table id="miTabla" class="display" style="width:100%">
     </table>
   </div>


<br><br><br><br><br><br>

{% endblock %}
