{% extends "./index.html" %}

{% block contenido %}

    {% load static %}
    <br><br><br><br><br>
    <div style="text-align: right;">
           <a class="boton-regresar" href="/becarios/"> <i class="fa-solid fa-angles-left"></i> &nbsp;&nbsp; Regresar</a>
       </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <img src="../assets/images/perfiles/patricio.jpg" alt=""><br><br>
      <center><h1>Tigasi Guamangate Willian Patricio</h1></center>
    </div><br><br>
    <div class="col-md-4">
      <center><h1> <i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Perfil Estudiantil</h1></center><br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estudiante de la:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Universidad de las Fuerzas Armadas -ESPE-L<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Departamento de Energía y Mecánica<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Carrera de Mecatrónica<br>
      </p>
    </div>
    <br><br>
    <div class="col-md-4">
      <center><h1><i class="fa-solid fa-file-signature"></i> &nbsp;&nbsp; Contactos</h1></center><br>
      <h5> <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Email:</h5>
      <a href="mailto:wptigasi@espe.edu.ec">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;wptigasi@espe.edu.ec</a> <br>
      <a href="mailto:wiliantigasi@gmail.com">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;wiliantigasi@gmail.com</a> <br>
      <h5><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Teléfonos:</h5>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;+593 97 939 2260<br>
      </div>
  </div>
<br><br>
{% endblock %}
