{% extends "./index.html" %}

{% block contenido %}

    {% load static %}
    <br><br><br><br><br>
    <div style="text-align: right;">
           <a class="boton-regresar" href="/becarios/"> <i class="fa-solid fa-angles-left"></i> &nbsp;&nbsp; Regresar</a>
       </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <img src="../assets/images/perfiles/wilmerl.jpg" alt=""><br><br>
      <center><h1>Lutuala Tigasi Wilmer Efrain</h1></center>
    </div><br><br>
    <div class="col-md-4">
      <center><h1> <i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Perfil Estudiantil</h1></center><br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estudiante de la:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Universidad Técnica de Cotopaxi - CAREN<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facultad de Ciencias Agropecuarias y Recursos Naturales<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Carrera de Agronomía<br>
      </p>
    </div>
    <br><br>
    <div class="col-md-4">
      <center><h1><i class="fa-solid fa-file-signature"></i> &nbsp;&nbsp; Contactos</h1></center><br>
      <h5> <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Email:</h5>
      <a href="mailto:wilmer.lutuala8595@utc.edu.ec">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;wilmer.lutuala8595@utc.edu.ec</a> <br>
      <a href="mailto:tigasi.wilmer15@gmaill.com">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;tigasi.wilmer15@gmaill.com</a> <br>
      <h5><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Teléfonos:</h5>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;+593 96 786 6150<br>
      </div>
  </div>
<br><br>
{% endblock %}
