{% extends "./index.html" %}

{% block contenido %}

    {% load static %}


    <div class="salud">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 offset-lg-2 header-text">
             <h2>Brigadas <em>Médicas</em> Internacionales </h2>
             <p>¡Bienvenido a FUNYAJ! Aquí, nos dedicamos a transformar vidas y construir un futuro mejor para todos. Únete a nosotros en esta emocionante misión de hacer del mundo un lugar más justo y próspero. ¡Estamos encantados de tenerte con nosotros!</p>
           </div>
         </div>
       </div>
     </div>
      <div class="top-categories">
        <div class="container">
          <div class="row">
            <div class="col-lg col-sm-4">
              <div class="item">
                <div class="">
                  <img src="../assets/images/FUNYAJ/s1.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-4">
              <div class="item">
                <div class="">
                  <img src="../assets/images/FUNYAJ/s2.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-4">
              <div class="item">
                <div class="">
                  <img src="../assets/images/FUNYAJ/s3.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-4">
              <div class="item">
                <div class="">
                  <img src="../assets/images/FUNYAJ/s4.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-4">
              <div class="item">
                <div class="">
                  <img src="../assets/images/FUNYAJ/s5.jpg" alt="">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="featured-contests">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading text-center">
                <center><h4>Voluntarios de Estados Unidos, Estudiantes de la Universidad de San Fransisco en conjunto con los colaboradores de la Fundacion FUNYAJ</h4></center>
                <p> "La Fundación FUNYAJ está organizando una brigada médica el
                  8 de enero de 2024, con el objetivo de ayudar a las personas que
                  no cuentan con suficiente dinero para recibir tratamientos médicos.
                   La brigada se enfocará en enfermedades como cáncer, dolores y
                   oftalmología, sin ninguna vacunación. Los servicios ofrecidos
                   incluirán exámenes médicos, distribución de medicamentos y
                   asesoramiento médico. La brigada se llevará a cabo en una
                   ubicación que será anunciada próximamente. Los participantes
                    incluirán médicos, enfermeros y voluntarios capacitados.
                    Ayudemos juntos a brindar atención médica de calidad a
                    aquellos que más lo necesitan! Manténgase atento a nuestras
                     actualizaciones para obtener más información sobre la brigada
                     médica de la Fundación FUNYAJ." </p>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="thumb">
                  <img src="../assets/images/FUNYAJ/s5.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="thumb">
                  <img src="../assets/images/FUNYAJ/s6.jpg" alt="">

                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <img src="../assets/images/FUNYAJ/s2.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <img src="../assets/images/FUNYAJ/s3.jpg" alt="">


                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <img src="../assets/images/FUNYAJ/s1.jpg" alt="">


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
