{% extends "./index.html" %}

{% block contenido %}

    {% load static %}
    <div class="slider">
       <div class="list">
           <div class="item">
               <img src="../assets/images/turismo/tur1.jpg" alt="">
               <div class="content">
                   <div class="title">Encanto del Cráter</div>
                   <div class="type">Quilotoa</div>
                   <div class="description">
                       Descubre la impresionante belleza del Cráter Quilotoa en Ecuador.
                       Su laguna turquesa y vistas espectaculares te dejarán sin aliento.
                       Un destino perfecto para los amantes de la naturaleza.
                   </div>
               </div>
           </div>
           <div class="item">
               <img src="../assets/images/turismo/tur2.jpg" alt="">
               <div class="content">
                   <div class="title">Explorando Anchi</div>
                   <div class="type">Quilotoa</div>
                   <div class="description">
                    Descubre la riqueza cultural y natural del Anchi Quilotoa.
                    Aprende sobre la biodiversidad y las tradiciones ancestrales de la región,
                    mientras te maravillas con el impresionante paisaje.
                    </div>
               </div>
           </div>
           <div class="item">
               <img src="../assets/images/turismo/tur3.jpg" alt="">
               <div class="content">
                   <div class="title"> Senderos de </div>
                   <div class="type">Anchi Quilotoa</div>
                   <div class="description">
                     Recorre los pintorescos senderos del Anchi Quilotoa.
                     Sumérgete en la historia y cultura local mientras disfrutas de vistas
                     impresionantes y una biodiversidad única.
                   </div>
               </div>
           </div>
           <div class="item">
               <img src="../assets/images/turismo/tur4.jpg" alt="">
               <div class="content">
                   <div class="title">Aguas Termales</div>
                   <div class="type">Anchi Quilotoa</div>
                   <div class="description">
                      Descubre el poder relajante de las aguas termales cerca del
                      Anchi Quilotoa. Sumérgete en la naturaleza y disfruta de una
                      experiencia rejuvenecedora en este paraíso natural.
                   </div>
               </div>
           </div>
       </div>
       <div class="thumbnail">

           <div class="item">
               <img src="../assets/images/turismo/tur1.jpg" alt="">
           </div>
           <div class="item">
               <img src="../assets/images/turismo/tur2.jpg" alt="">
           </div>
           <div class="item">
               <img src="../assets/images/turismo/tur3.jpg" alt="">
           </div>
           <div class="item">
               <img src="../assets/images/turismo/tur4.jpg" alt="">
           </div>
       </div>
       <div class="nextPrevArrows">
           <button class="prev"> < </button>
           <button class="next"> > </button>
       </div>
   </div>
<br><br><br><br>
   <div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-3">
   <h1>Forma parte del programa</h1>
   <br>
   <h2>Pueblos y Rincones Mágicos</h2>
   <br>
   <p>Forma parte del programa "Pueblos y Rincones Mágicos"
     y descubre la riqueza cultural y natural de nuestros
     destinos. Únete a nosotros para explorar y preservar
     los tesoros ocultos de Ecuador, donde cada rincón cuenta
     una historia única y cada pueblo tiene su propio encanto.
     ¡No te pierdas la oportunidad de vivir una experiencia inolvidable
     y apoyar el desarrollo de comunidades locales!</p>
   </div>
   <div class="col-md-1">

   </div>
   <div class="col-md-4">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@fundacion.funyaj/video/7244445423958609157" data-video-id="7244445423958609157" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@fundacion.funyaj" href="https://www.tiktok.com/@fundacion.funyaj?refer=embed">@fundacion.funyaj</a> <a title="turismocomunitario" target="_blank" href="https://www.tiktok.com/tag/turismocomunitario?refer=embed">#TurismoComunitario</a> <a target="_blank" title="♬ sonido original - FUNDACIÓN FUNYAJ" href="https://www.tiktok.com/music/sonido-original-7244445501456648965?refer=embed">♬ sonido original - FUNDACIÓN FUNYAJ</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
   </div>
</div>



{% endblock %}
